*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Noto+Sans+Kawi&family=Noto+Sans+TC&display=swap');

/*font-family: 'IBM Plex Mono', monospace;*/

/* Header - Footer - Body */
header{
    height: fit-content;
    background-color: #AD343E;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-family: 'IBM Plex Mono', monospace;
}
.logo img{
    width: 100px;
    height: 100px;
}
h1{
    text-transform: capitalize;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #E0E0CE;
    font-size: 20px;
    text-align: center;
}
.nav-op{
    text-decoration: none;
    color: #E0E0CE;
    text-transform: capitalize;
    font-size: 10px;
    margin-left:5px;
    margin-right:5px;
}
.nav-op:hover{
    color: #F2AF29;
}
.navbar-toggler{
    background-color: black;
    font-size: 10px;
}
.nav-item{
    background-color: black;
    border: solid 1px #E0E0CE;
    border-radius: 20%;
    text-align: center;
}
body{
    background-color: #F2AF29;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
footer{
    padding: 15px;
    text-align: center;
    height: 120px;
    background-color: #474747;
    font-family: 'IBM Plex Mono', monospace;
    color: #E0E0CE;
    font-size: 10px;
    margin-top: auto;
}
.redes a{
    color: #E0E0CE;
    font-size: 30px;

}
/* Header - Footer - Body */

/* Pagina principal inicio */
.intro{
    padding-top: 5px;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
}
video{
    border-radius: 5%;
    width: 100%;
    margin-bottom: 10px;
}
/* Pagina principal final */

/* Productos inicia */
.container{
    margin-left: 1px;
    margin-bottom: 10px;
}
.productos-desc{
    margin-top: 10px;
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    color: #E0E0CE;
    background-color: #AD343E;
    text-transform: uppercase;
}
.carousel{
    border: 5px solid #AD343E;
    padding: 10px;
}
.carousel-item img{
    height: 200px;
    width: 100%;

}
/* Productos final */

/* Reseñas inicio */
.opinion{
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
}
.opinion h3{
    padding-top: 5px;
    padding-bottom: 5px;
}
#enviar{
    margin-bottom: 10px;
}
/* Reseñas final */

/* Sobre Tortuga inicio */
.sobre{
    text-align: center;
}
.sobre h2{
    padding-top: 10px;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 20px;
}
.sobre p{
    font-family: 'IBM Plex Mono', monospace;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
}
/* Sobre Tortuga final */

/* FAQ inicio */
section{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-evenly;
}
.pregu{
    width: 40%;
    height: 300px;
    border: 5px solid #AD343E;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    background-color: #AD343E;
}
.pregu:hover{
    transform: scale(1.05);
}
.pregu1{
    width: 40%;
    height: 190px;
    border: 5px solid #AD343E;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    background-color: #AD343E;
}
.pregu1:hover{
    transform: scale(1.05);
}
.enc{
    background-image: url(./multimedia/Entrega.jpg);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}
.dem{
    background-image: url(./multimedia/demora.jpg);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}
.pregu h2{
    text-align: center;
    color: #F2AF29;
    background-color: #474747;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 20px;
}
.pregu1 h2{
    color: #F2AF29;
    background-color: #474747;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 20px;
}
.pregu a{
    color: black;
}
.pregu a:hover{
    color: #F2AF29;
    text-transform: uppercase;
}
.pregu li{
    padding-right: 8px;
    font-size: 9px;
    font-weight: 700;
}
.pregu1 p{
    font-size: 9px;
    font-weight: 700;
}
/* FAQ final */
@media only screen and (min-width: 320px) and (max-width: 571px){
    .logo img{
        margin: 10px;
        width: 80px;
        height: 80px;
    }
    h1{
        padding-left: 25px;
        padding-top: 30px;
        padding-bottom: 5px;
    }
}
@media only screen  and (min-width: 1200px) and (max-width:1440px){
    /* Header - Footer - Body */
    .logo img{
        margin: 20px;
    }
    h1{
        padding-left: 30px;
        padding-top: 40px;
        padding-bottom: 30px;
        font-size: 30px;
    }
    .nav-op{
        font-size: 15px;
    }
    .nav-item{

        margin: 2px;
    }
    footer{
        padding-top: 20px;
        text-align: center;
        height: 120px;
        font-size: 20px;
    }
    .redes a{
        color: #E0E0CE;
        font-size: 40px;
    
    }
    /* Header - Footer - Body */

    /* Pagina principal inicio */
    .intro{
        padding-top: 10px;
    }
    .intro p{
        font-size: 20px;
    }
    /* Pagina principal final */

    /* Productos inicia */
    .container{
        margin-left: 30px;
    }
    .productos-desc{
        margin: 10px;
        text-align: center;
        font-family: 'IBM Plex Mono', monospace;
        color: #E0E0CE;
        background-color: #AD343E;
        text-transform: uppercase;
    }
    .carousel{
        border: 5px solid #AD343E;
        padding: 10px;
        width: 40%;
    }
    /* Productos final */

    /* Reseñas inicio */
    .opinion{
        font-family: 'IBM Plex Mono', monospace;
        text-align: center;
    }
    .opinion h3{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    #enviar{
        margin-bottom: 10px;
    }
    /* Reseñas final */

    /* Sobre Tortuga inicio */
    .sobre h2{
        font-family: 'IBM Plex Mono', monospace;
        font-size: 50px;
    } 
    .sobre p{
        font-family: 'IBM Plex Mono', monospace;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 30px;
    }
    /* Sobre Tortuga final */

    /* FAQ inicio */
    .pregu{
        width: 40%;
        height: 440px;
        text-align: left;
        background-color: #AD343E;
    }
    .pregu1{
        width: 40%;
        height: 350px;
        text-align: center;
        background-color: #AD343E;
    }
    .pregu1 p{
        font-size: 18px;
    }
    .pregu li{
        font-size:18px;
    }
    /* FAQ final */
}
@media only screen  and (min-width: 1440px) and (max-width:1981px){
    /* Header - Footer - Body */
    .logo img{
        margin: 20px;
    }
    h1{
        padding-left: 30px;
        padding-top: 40px;
        padding-bottom: 30px;
        font-size: 30px;
    }
    .nav-op{
        font-size: 15px;
    }
    .nav-item{

        margin: 2px;
    }
    footer{
        padding-top: 20px;
        text-align: center;
        height: 120px;
        font-size: 20px;
    }
    .redes a{
        color: #E0E0CE;
        font-size: 40px;
    
    }
    /* Header - Footer - Body */

    /* Pagina principal inicio */
    .intro{
        padding-top: 10px;
    }
    .intro p{
        font-size: 20px;
    }
    /* Pagina principal final */

    /* Productos inicia */
    .container{
        margin-left: 30px;
    }
    .productos-desc{
        margin: 10px;
        text-align: center;
        font-family: 'IBM Plex Mono', monospace;
        color: #E0E0CE;
        background-color: #AD343E;
        text-transform: uppercase;
    }
    .carousel{
        border: 5px solid #AD343E;
        padding: 10px;
        width: 40%;
    }
    /* Productos final */

    /* Reseñas inicio */
    .opinion{
        font-family: 'IBM Plex Mono', monospace;
        text-align: center;
    }
    .opinion h3{
        padding-top: 5px;
        padding-bottom: 5px;
    }
    #enviar{
        margin-bottom: 10px;
    }
    /* Reseñas final */

    /* Sobre Tortuga inicio */
    .sobre h2{
        font-family: 'IBM Plex Mono', monospace;
        font-size: 50px;
    } 
    .sobre p{
        font-family: 'IBM Plex Mono', monospace;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 30px;
    }
    /* Sobre Tortuga final */

    /* FAQ inicio */
    .pregu{
        width: 40%;
        height: 510px;
        text-align: left;
        background-color: #AD343E;
    }
    .pregu1{
        width: 40%;
        height: 410px;
        text-align: center;
        background-color: #AD343E;
    }
    .pregu1 p{
        font-size: 18px;
    }
    .pregu li{
        font-size:18px;
    }
    /* FAQ final */
}
